@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1100px;
}
.is-center {
  align-items: center;
}
.has-padding-small {
  padding: 5px;
}

circle {
  transition: stroke-dashoffset 0.35s;
  -webkit-transform: rotate(125deg);
  transform: rotate(125deg) scale(1.12);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  stroke-linecap: round;
}

.is-svg {
  position: relative;
}
.is-svg svg,
.target {
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -15%);
}
.target {
  transform: translate(-50%, 35%);
  z-index: 500;
}
/*costum classes*/
.is-size-6 {
  font-size: 0.8rem !important;
}
.is-box-squere {
  border-radius: 0 !important;
  border: 0;
  box-shadow: none;
}
.no-padding-top {
  padding-top: 0;
}
.is-progress-smaller {
  height: 0.5rem !important;
}
.is-verticaly-center--text {
  text-align: center;
}
.is-last-child {
  margin-bottom: 1.2rem;
}
.has-padding-bottom--m {
  padding-bottom: 25px;
}
